* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: black;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navbar {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(20px);
}

.Nav-Name {
    color: white;
}

.Nav-Menu {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Nav-Menu a{
    color: white;
    font-size: 14px;
}